<h1>Edit Post it</h1>
<%= form_for @page do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :poster %>
    <%= f.text_field :poster %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit %>
  </div>
    <%= link_to 'Back', pages_path %>
<% end %>
